:root{
  --font-family: 'Roboto';
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));



  // colors

  --light-color: #fff;
  --dark-color: #000;

}